/* stylelint-disable no-descending-specificity */

.popover {
  display: inline-block;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: var(--auro-color-background-lightest);
  box-shadow: -2px 0 5px 2px rgba(0 0 0 / .08), 0 2px 5px 1px rgba(0 0 0 / .08);
  color: var(--auro-color-text-primary-on-light);
}

.label {
  color: var(--auro-color-text-secondary-on-light);
  font-size: var(--auro-text-body-size-xs);
  line-height: var(--auro-text-body-size-default);
}

.trigger {
  position: relative;
  display: flex;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: var(--auro-color-text-primary-on-light);

  &:focus-within {
    border-color: var(--auro-color-border-active-on-light);
  }

  &:active {
    border-color: var(--auro-color-border-active-on-light);
    box-shadow: inset 0 0 0 1px var(--auro-color-border-active-on-light);
  }
}

@media (hover: hover) {
  .trigger {
    &:hover {
      background-color: var(--auro-color-ui-bkg-hover-on-light);
      cursor: pointer;
    }
  }
}

.triggerContentWrapper {
  flex: 1;
}

#showStateIcon {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: var(--auro-size-xs);
  color: var(--auro-color-icon-primary-on-light);

  auro-icon {
    height: 1.5rem;
    line-height: 1.5rem;
  }

  &[data-expanded='true'] {
    auro-icon {
      transform: rotate(-180deg);
    }
  }
}

.helpText {
  margin-top: 4px;
  color: var(--auro-color-text-secondary-on-light);
  font-size: var(--auro-text-body-size-xs);
  line-height: var(--auro-text-body-size-default);
}

:host(:not([data-show])) {
  .popover {
    display: none;
  }
}

:host([data-show]) {
  .popover {
    z-index: var(--auro-depth-tooltip);
  }
}

:host([rounded]) {
  .trigger,
  .popover {
    overflow: hidden;
    border-radius: var(--auro-border-radius);
  }
}

:host([inset]) {
  .trigger {
    padding: var(--auro-size-xs) var(--auro-size-sm);
  }
}

:host([disabled]) {
  pointer-events: none;

  .trigger,
  .label,
  #showStateIcon {
    color: var(--auro-color-text-disabled-on-light);
  }
}

:host([bordered]) {
  .trigger {
    border-color: var(--auro-color-border-primary-on-light);

    &:focus-within {
      border-color: var(--auro-color-border-active-on-light);
    }
  }
}

:host([error]) {
  .helpText {
    color: var(--auro-color-text-error-on-light);
  }

  .trigger {
    border-color: var(--auro-color-border-error-on-light);
    box-shadow: inset 0 0 0 1px var(--auro-color-border-error-on-light);

    &:focus-within {
      border-color: var(--auro-color-border-active-on-light);
      box-shadow: none;
    }

    &:active {
      border-color: var(--auro-color-border-active-on-light);
      box-shadow: inset 0 0 0 1px var(--auro-color-border-active-on-light);
    }
  }
}

:host([disabled][bordered]) {
  .trigger {
    border-color: var(--auro-color-border-disabled);
  }
}

:host([bordered][error]) {
  .trigger {
    border-color: var(--auro-color-border-error-on-light);
    box-shadow: inset 0 0 0 1px var(--auro-color-border-error-on-light);

    &:focus-within {
      border-color: var(--auro-color-border-active-on-light);
      box-shadow: none;
    }

    &:active {
      border-color: var(--auro-color-border-active-on-light);
      box-shadow: inset 0 0 0 1px var(--auro-color-border-active-on-light);
    }
  }
}

/**
 * All styles below pertain to the onDark theme
 */

:host([onDark]) {
  .trigger {
    color: var(--auro-color-text-primary-on-dark);

    &:focus-within {
      border-color: var(--auro-color-border-active-on-dark);
      box-shadow: none;
    }

    &:active {
      border-color: var(--auro-color-border-active-on-dark);
      box-shadow: inset 0 0 0 1px var(--auro-color-border-active-on-dark);
    }
  }

  .label,
  .helpText {
    color: var(--auro-color-text-secondary-on-dark);
  }

  #showStateIcon {
    color: var(--auro-color-icon-primary-on-dark);
  }
}

@media (hover: hover) {
  :host([onDark]) {
    .trigger {
      &:hover {
        background-color: rgba(178 178 178 / .1);
      }
    }
  }
}

:host([onDark][error]) {
  .helpText {
    color: var(--auro-color-text-error-on-dark);
  }

  .trigger {
    border-color: var(--auro-color-border-error-on-dark);
    box-shadow: inset 0 0 0 1px var(--auro-color-border-error-on-dark);

    &:focus-within {
      border-color: var(--auro-color-border-active-on-dark);
      box-shadow: none;
    }

    &:active {
      border-color: var(--auro-color-border-active-on-dark);
      box-shadow: inset 0 0 0 1px var(--auro-color-border-active-on-dark);
    }
  }
}

:host([onDark][disabled]) {
  .trigger,
  .label,
  .helpText {
    color: var(--auro-color-text-disabled-on-dark);
  }
}

:host([onDark][disabled][bordered]) {
  .trigger {
    border-color: var(--auro-color-border-disabled-on-dark);
  }
}
